<div class="d-flex flex-column Pantalla">
    
    <br/>
    <div class="d-flex justify-content-center" >
    <h1 class="letrasIniciarSesion">Iniciar sesión</h1>
    </div>
    <br/> 

    <br/>   
    <br/>     
    <div class="d-flex justify-content-center" >
        <br/>
        <label for="correo" class="letrasLabel m-1">Correo</label>
        <br/>            
        <input class="ingreso"  type="text" [(ngModel)]="correoTxt" id="correo" [ngModelOptions]="{standalone: true}" required>
    </div>
    
    <br/> 
    <br/> 
    <br/>   
    <div class="d-flex justify-content-center" >
        <br/>    
        <label for="password" class="letrasLabel m-1">Contraseña</label>
        <input class="ingreso" type="{{ esTexto ? 'text' : 'password' }}" id="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"/>
        
        <button class="BottonOjoAbiertoCerrado" (click)="togglePasswordVisibility()">
            <img [src]="imagenOjo" class="ojo" alt="">
        </button>
    </div>  
 
    <br/>
    <br/>
    <div class="d-flex justify-content-center" >
        <button type="button" (click)="Ingreso()" class="btn btn-outline-warning m-1  boton">Iniciar sesión</button>

        <button type="button" (click)="LimpiarCampos()" class="btn btn-outline-warning m-1 boton">Limpiar</button>
    </div>

    <br/>
    <div class="d-flex justify-content-center" >
        <button type="submit" class="btn btn-dark m-2" (click)="RellenarProfAgustin()"> Admin
        </button>    

        <button type="submit" class="btn btn-dark m-2" (click)="RellenarProfOctavio()"> Empleado
        </button> 
    </div>   
</div>